@font-face {
    font-family: "Darksouls";
    src: url("./fonts/OptimusPrinceps.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Darksouls";
    src: url("./fonts/OptimusPrincepsSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

body {
    font-family: 'Darksouls';
    width: 600px;
    margin: 0 auto;
    background-color: whitesmoke;
}

.main-menu {
    background-color: darkcyan;
    height: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 30px 5px;
    border-left: 10px darkred solid;
    border-bottom: 10px darkred solid;
    border-top: 3px darkred solid;
    border-right: 3px darkred solid;

}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    font-size: 50px;
}

li {
    list-style-type: none;
    font-size: 32px;
    margin: 10px 0;
}

.easteregg {
    color: rgba(0, 0, 0, 0);
}
