@font-face {
    font-family: "Darksouls";
    src: url("./fonts/OptimusPrinceps.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Darksouls";
    src: url("./fonts/OptimusPrincepsSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

body {
    font-family: 'Darksouls';
}

h1 {
    text-align: center;
}

.easteregg {
    color: rgba(0, 0, 0, 0);
}
